<form
  class="form-horizontal form-label-left nx-dialog-form nx-change-email-form"
  skipValidation
  [formGroup]="form"
  (ngSubmit)="saveChange()"
>
  <p-panel
    #pnlDetail
    header="Thông tin"
    [toggleable]="true"
    [collapsed]="false"
    class="nx-dialog-panel"
  >
    <div class="nx-form-head">
      <h4>Cập nhật email đăng nhập</h4>
      <p>Địa chỉ email mới sẽ được dùng cho xác thực và thông báo tài khoản.</p>
    </div>

    <div class="formgrid grid">
      <div class="field col-12 md:col-8">
        <label for="email">Email <span class="required">*</span></label>
        <input
          id="email"
          type="text"
          pInputText
          [pKeyFilter]="noSpecial"
          formControlName="email"
          [style]="{ width: '100%' }"
        />
        <app-validation-message
          [entityForm]="form"
          fieldName="email"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <button type="submit" pButton [disabled]="!form.valid || btnDisabled">
        {{ saveBtnName }}
      </button>
    </ng-template>

    <p-blockUI [target]="pnlDetail" [blocked]="blockedPanelDetail">
      <p-progressSpinner
        [style]="{
          width: '100px',
          height: '100px',
          position: 'absolute',
          top: '25%',
          left: '50%',
        }"
        strokeWidth="2"
        animationDuration=".5s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</form>
