<div class="nx-role-assign-form">
  <p-panel #pnlDetail header="Thông tin" [toggleable]="true" [collapsed]="false" class="nx-dialog-panel">
    <div class="nx-form-head">
      <h4>Gán quyền theo vai trò</h4>
      <p>Kéo thả role từ danh sách có sẵn sang danh sách đã chọn cho người dùng.</p>
    </div>

    <p-pickList
      [source]="availableRoles"
      [target]="seletedRoles"
      sourceHeader="Các quyền có sẵn"
      targetHeader="Các quyền chọn"
      [dragdrop]="true"
    >
      <ng-template let-role pTemplate="item">
        <div>{{ role }}</div>
      </ng-template>
    </p-pickList>

    <ng-template pTemplate="footer">
      <button type="button" (click)="saveChange()" pButton [disabled]="btnDisabled">
        {{ saveBtnName }}
      </button>
    </ng-template>

    <p-blockUI [target]="pnlDetail" [blocked]="blockedPanelDetail">
      <p-progressSpinner
        [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2"
        animationDuration=".5s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>